<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myWeb.notice.NoticeMapper">
    <insert id="insertNotice" parameterType="NoticeVO">
        INSERT INTO NOTICE(
               NOTICE_REGDATE,
               NOTICE_DISPLAY_YN,
               NOTICE_WRITER_ID,
               NOTICE_WRITER_NICK,
               PROD_NAME,
               NOTICE_TITLE,
               NOTICE_CONTENT
        ) VALUES (
                #{noticeRegDate},
                #{noticeDisplayYn},
                #{noticeWriterId},
                #{noticeWriterNick},
                #{prodName},
                #{noticeTitle},
                #{noticeContent}
       )
    </insert>

    <select id="getNoticeNullProductList" resultType="ProductVO">
        SELECT *
        FROM PRODUCT P
        LEFT JOIN NOTICE N ON P.PROD_WRITER = N.NOTICE_WRITER_ID AND N.PROD_NAME IS NULL WHERE P.PROD_WRITER=#{userId}
    </select>

    <select id="getNoticeList" resultType="NoticeVO">
        SELECT * FROM NOTICE WHERE NOTICE_WRITER_ID=#{id} ORDER BY NOTICE_ID DESC LIMIT #{cri.pageStart}, #{cri.amount}
    </select>

    <select id="getTotal" resultType="int">
        SELECT COUNT(*) FROM NOTICE WHERE NOTICE_WRITER_ID=#{id}
        <if test="cri.searchName != '' and cri.searchName != null ">
            AND PROD_NAME LIKE CONCAT('%', #{cri.searchName}, '%')
        </if>
        <if test="cri.searchContent != '' and cri.searchContent != null ">
            AND NOTICE_CONTENT LIKE CONCAT('%', #{cri.searchContent}, '%')
        </if>
    </select>

    <select id="getNotice" parameterType="string" resultType="NoticeVO">
        SELECT * FROM NOTICE WHERE NOTICE_ID=#{noticeId}
    </select>
</mapper>